@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&family=Varela&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:Outfit ;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  background-color: #c8b2b273;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 100%;
  margin: 0px 0px;
  
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/*======================================================750px========================================================*/
/*
@media (max-width : 750px) {
  .app{
      width: 100%;
      margin: 0px 0px;
  }
}*/